body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232427;
}

.box{
  width: 100px;
  height: 100px;
  background-color: #ef4b9c;
}

.panel {
  height: 100vh;
  background-color: #d0d3e6;
}

/* .div1{
  background-color: #232427;
}

.div2{
  background-color: #d0d3e6;
}

.square {
  width: 150px;
  height: 20vh;
  background-color: #73c0ea
}

.square2 {
  width: 150px;
  height: 20vh;
  background-color: #ef4b9c
}


.red {
  background-color: #ef4b9c
} */